@import '../../assets/css/theme.scss';

page {
  background-color: $background-color;
}

.page-wrapper {
  width: 100%;
  position: relative;
  padding: 30px 20px;
  box-sizing: border-box;

  .msg-wrapper {
    width: 100%;
    border-radius: 8px;
    background-color: #ffffff;

    .msg-title-wrapper {
      height: 72px;
      display: flex;
      padding: 0 32px;
      font-size: 28px;
      align-items: center;
      box-sizing: border-box;
      justify-content: space-between;
      border-bottom: 2px solid $background-color;

      .time {
        font-size: 24px;
        color: #999999;
      }
    }
  }

  .form-msg-wrapper {
    width: 100%;
    font-size: 28px;
    box-sizing: border-box;
    padding: 20px 32px 10px;

    .form-item {
      font-size: 24px;
      color: $tips-color;
      margin-bottom: 20px;
      box-sizing: border-box;

      .area {
        margin-left: 80px;
      }
    }

    .form-title {
      font-size: 26px;
      line-height: 38px;
      color: $font-color;
    }

    .form-user-item {
      display: flex;
      font-size: 22px;
      align-items: center;
      margin-bottom: 20px;

      .form-label {
        width: 110px;
        color: $tips-color;
      }

      .form-content {
        flex: 1;
        color: #999999;
      }
    }


    .upload-file-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 30px;
      box-sizing: border-box;

      .file-item-wrapper {
        width: 102px;
        height: 90px;
        margin-top: 20px;

        .file-item {
          width: 70px;
          height: 90px;
          display: flex;
          font-size: 22px;
          color: $tips-color;
          border-radius: 4px;
          align-items: center;
          flex-direction: column;
          justify-content: space-between;

          .file-icon {
            width: 48px;
            height: 48px;
            margin: 0 auto;
          }
        }
      }
    }

    .msg-tips {
      font-size: 22px;
      color: $link-color;
      margin-bottom: 20px;
    }
  }

  .feedback-wrapper {
    padding: 30px;
    margin-top: 30px;
    border-radius: 8px;
    background-color: #ffffff;

    .title {
      font-size: 28px;
      line-height: 40px;
      color: $font-color;
      padding-bottom: 20px;
    }

    .textarea {
      font-size: 22px;
      color: #999999;
      line-height: 30px;
      border-radius: 8px;
      padding: 20px 16px;
      margin-bottom: 30px;
      text-align: justify;
      border: 2px solid #eaeaea;
    }

    .download-file {
      font-size: 22px;
      line-height: 30px;
      text-align: right;
      color: $link-color;
    }
  }
}
