@import '../../assets/css/theme.scss';

page {
  background-color: $background-color;
}

.page-wrapper {
  width: 100%;
  position: relative;

  .msg-wrapper {
    width: 100%;
    background-color: #ffffff;

    .msg-title-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 32px;
      font-size: 28px;
      height: 72px;
      box-sizing: border-box;
      border-bottom: 2px solid $background-color;
      .time {
        font-size: 24px;
        color: #999999;
      }
    }
  }

  .form-wrapper {
    width: 100%;
    line-height: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 28px;
    color: $font-color;

    .form-label {
      width: 168px;
    }

    .form-content {
      flex: 1;
      color: $tips-color;
    }
  }

  .bottom-tips {
    width: 100%;
    height: 140px;
    box-sizing: border-box;
    padding-top: 70px;
    text-align: center;
    font-size: 28px;
    line-height: 40px;
    color: #999999;
  }
}
