@import '../../../../assets/css/theme.scss';

.sticky-fixed-wrapper {
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
}

.sticky-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 42px;
  background-color: #ffffff;
  .sticky-list-item{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $tips-color;
    .item-image{
      width: 64px;
      height: 74px;
    }
    .item-text{
      line-height: 34px;
      margin-top: 8px;
      font-size: 24px;
    }
    &-active {
      color: $font-color;
      font-weight: 700;
    }
  }

}
