@import '../../../../assets/css/theme.scss';

.sticky-fixed-wrapper {
  width: 100vw;
  position: fixed;
  z-index: 99;
}

.sticky-wrapper {
  width: 100%;
  height: 120px;
  background-color: $background-color;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .sticky-list-item-active {
    color: $link-color;
  }
}
