@import '../../../../assets/css/theme.scss';

.contract-wrapper {
  width: 100%;
  padding: 20px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 30px;
  box-sizing: border-box;
  background-color: #ffffff;

  .title-wrapper {
    display: flex;
    line-height: 42px;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    justify-content: space-between;
    border-bottom: 2px solid $background-color;

    .title-text {
      font-size: 30px;
      font-weight: 700;
    }

    .link-text {
      font-size: 24px;
      color: $link-color;
    }
  }

  .contract-main-wrapper {
    display: flex;
    flex-direction: column;

    .form-item {
      display: flex;
      font-size: 28px;
      line-height: 40px;
      color: $tips-color;
      margin-bottom: 10px;
      align-items: center;
      justify-content: space-between;

      .form-content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: $placeholder-color;
      }
    }
  }

  .icon-next {
    font-size: 26px;
    margin-left: 16px;
    color: $placeholder-color;
  }

  .rotated {
    transform: rotate(180deg);
  }

  .empty-wrapper {
    align-items: center;
    justify-content: center;
    padding-top: 4px;

    .empty-image {
      width: 126px;
      height: 126px;
      margin-bottom: 10px;
    }

    .empty-text {
      font-size: 24px;
      color: #999999;
      text-align: center;
    }
  }
}
