@import '../../assets/css/theme.scss';
.input-wrapper{
  width: 100%;
}
.input-style{
  width: 100%;
  height: 100%;
  color: $tips-color;
  font-size: 28px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}

.placeholder-class{
  font-size: 28px;
  color: $placeholder-color;
}