@import '../../assets/css/theme.scss';

.form-item {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .form-label {
    width: 88px;
    font-size: 28px;
    color: $font-color;

    .important {
      margin-left: 6px;
      font-size: 20px;
      color: $important-color;
    }
  }

  .form-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .form-input-wrapper {
      flex: 1;
    }

    .last-tips {
      width: 108px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .unit-text {
        font-size: 28px;
        color: $font-color;
      }

      .icon-next {
        font-size: 24px;
        color: $placeholder-color;
      }

      .rotated {
        transform: rotate(180deg);
      }
    }
  }
}

.bottom-line {
  border-bottom: 2px solid $line-color;
}
