@import '../../index.scss';
// 区域站位的
.area-static {
  width: 100%;
  height: 64px;
}

.right-table-item-wrapper {
  width: 196px;
  box-sizing: border-box;
  display: inline-block;
}

.right-item-child {
  width: 196px;
  height: 90px;
  box-sizing: border-box;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  // border-right: 2px solid $table-border;
  font-size: 26px;
}

.right-item-child-remark {
  width: 100%;
  height: 120px !important;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre-wrap;
  height: 100%;
  overflow-y: auto;
  font-size: 20px;
}

.max-num-height{
  color: $max-color !important;
}

.min-num-height {
  color: $min-color !important;
}