@import '../../css/common.scss';

.list-wrapper{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .list-item{
    width: 160px;
    height: 60px;
    border: 2px solid #e2e2e2;
    margin-bottom: 20px;
    box-sizing: border-box;
    .item-image{
      width: 100%;
      height: 100%;
    }
  }
  .margin-right{
    margin-right: 16px;
  }
}