@import '../../css/common.scss';

.choose-house-type {
  .form-wrapper {
    width: 100%;
    padding: 0 50px;
    padding-bottom: 8px;
    box-sizing: border-box;

    .form-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 34px;
      font-size: 28px;
      color: $font-color;

      .form-label {
        width: 90px;
        text-align: center;
      }
    }
  }
}