@import '../../assets/css/theme.scss';

.switch {
  width: 72rpx;
  height: 36rpx;
  border-radius: 22rpx;
  border: 2rpx solid #BFBFBF;
  background-color: #BFBFBF;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  overflow: hidden;
}

.switch-hide-input {
  display: none;
  opacity: 0;
}

.switch-inner {
  color: #fff;
  font-size: 22rpx;
  position: absolute;
  right: 8rpx;
  vertical-align: middle;
}

.switch:after {
  content: '';
  width: 32rpx;
  height: 32rpx;
  border-radius: 22rpx;
  background-color: #fff;
  box-sizing: border-box;
  position: absolute;
  left: 0rpx;
  top: 0rpx;
  cursor: pointer;
  transition: left 0.2s ease-in-out, width 0.2s ease-in-out;
}

.switch-checked:after {
  left: 8rpx;
  top: 0;
}

.switch-checked:after {
  right: 0;
  top: 0;
}

.switch-checked {
  border-color: $link-color;
  background-color: $link-color;
}

.switch-checked .switch-inner {
  left: 8rpx;
}

.switch-checked:after {
  left: 36rpx;
}
