// 清除button默认样式
@mixin clear-button-default {
  button {
    line-height: 0;
    padding: 0;
    margin: 0;
    border: none;
  }

  button::after {
    border: none;
  }

  input {
    outline: none;
    border: none;
    list-style: none;
  }
}

@mixin button-style {
  .btn-public {
    width: 280px;
    height: 80px;
    border-radius: 6px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .default-btn {
    background-color: $link-color;
    color: #ffffff;
  }

  .plain-btn {
    border: 1px solid $link-color;
    background: #ffffff;
    color: $link-color;
  }
}