$font-color: #333333;
$font-tip-color: #666666;
$font-h-color: #999999;
$font-disabled-color: #D2D2D2;
$theme-color: #2A80C0;
$price-color: #FF672A;
$background-color: #FFFFFF;
$button-disabled-color: #b1cbe2;
$link-color: #1E54ED;
$placeholder-color: #C3C3C3;
$tips-title-color: #A9A9A9;
$background-color: #F8F8F8;