$font-color: #333333;
$theme-color: #2A80C0;
$link-color: #F4801E;
$placeholder-color: #C3C3C3;
$tips-title-color: #A9A9A9;
$background-color: #F8F8F8;
$important-color: #D81E06;
$line-color: #EFEFEF;
$tips-color: #666666;