@import "../../assets/css/theme.scss";

$bannerHeight: 368px;

.page-wrapper{
  width: 100%;
  height: 100%;
  .banner-wrapper{
    width: 100%;
    height: $bannerHeight;
    .banner-image{
      width: 100%;
      height: 100%;
    }
  }
}
