@import "../../assets/css/theme.scss";


.page-wrapper {
  width: 100%;
  height: 100%;

  .banner-wrapper {
    width: 100%;
    height: 320px;

    .banner-image {
      width: 100%;
      height: 100%;
    }
  }

  .index-title-wrapper {
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-size: 32px;
    color: $font-color;
    font-weight: 700;

    .index-title-line {
      width: 10px;
      height: 28px;
      background: #FBC224;
      margin-right: 16px;
    }
  }
}
