@import '../../assets/css/theme.scss';

.page-wrapper {
  .tips {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    color: $link-color;
  }
  .location-icon{
    color: $font-color !important;
  }
  .details-main-wrapper {
    padding: 0 30px;
    padding-bottom: 44px;
    border-top: 2px solid $background-color;
    .details-swiper-wrapper{
      margin-top: 20px;
      margin-bottom: 14px;
    }
  }
  
  // 指示点样式写在子组件不会生效
  .swiper .wx-swiper-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $placeholder-color;
    overflow: hidden;
  }

  .swiper .wx-swiper-dot-active {
    width: 8px !important;
    height: 8px;
    border-radius: 50%;
    overflow: hidden;
  }
}
