@import '../../assets/css/theme.scss';

.page-wrapper {
  background-color: $background-color;
  padding-bottom: 290px;
  padding-top: 90px;

  .note-details-location-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 90px;
    border-bottom: 2px solid $background-color;
    z-index: 5;

    .location-icon {
      color: $font-color !important;
    }
  }
  .offer-price-wrapper,
  .note-details-location-wrapper{
    .tips {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 28px;
      color: $link-color;
    }
  }

  .details-main-wrapper {
    padding: 0 30px;
    border-top: 2px solid $background-color;
    background-color: #ffffff;

    .details-swiper-wrapper {
      margin-top: 20px;
      margin-bottom: 14px;
    }

    .image-list-wrapper {
      padding-top: 74px;
      padding-bottom: 30px;
    }
  }
  .share-bottom-fixed-wrapper,
  .bottom-fixed-wrapper {
    width: 100vw;
    background-color: $background-color;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .share-bottom-fixed-wrapper{
    height: 140px;
  }
  .bottom-fixed-wrapper {
    height: 260px;
  }

  .bottom-fixed-wrapper{
    width: 100vw;
    height: 260px;
    background-color: $background-color;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .offer-price-wrapper{
    width: 100%;
    height: 92px;
    box-sizing: border-box;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-top: 2px solid $background-color;
    .left-text{
      color: $font-color;
      font-size: 28px;
    }
  }
  // 指示点样式写在子组件不会生效
  .swiper .wx-swiper-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $placeholder-color;
    overflow: hidden;
  }

  .swiper .wx-swiper-dot-active {
    width: 8px !important;
    height: 8px;
    border-radius: 50%;
    overflow: hidden;
  }
}

.bottom-padding160{
  padding-bottom: 160px;
}