@import '../../assets/css/theme.scss';

.scroll-view{
  box-sizing: border-box;
  white-space: nowrap;
}

.picture-item {
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  vertical-align: bottom;
}

.add-btn-public{
  box-sizing: border-box;
  border: 2px solid #EBEBEB;
  font-size: 42px;
  color: #D8D8D8;
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.icon-upload-img{
  font-size: 42px;
}

.delete-btn {
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 24px;
  color: #ffffff;
  background-color: #EF4E4E;
  font-size: 18px;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  top: -14px;
  border: 4px solid #ffffff;
  box-sizing: border-box;
  z-index: 2px;
}
