@import '../../../assets/css/theme.scss';

.card-wrapper {
  width: 100%;
  border-bottom: 30px solid $background-color;
  .card-plain {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 30px 10px;
    border-bottom: 2px solid $background-color;
  }

  .bottom-btn-wrapper {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 8px;
    font-size: 24px;
    color: $link-color;
    box-sizing: border-box;
    .btn {
      text-align: center;
      width: 210px;
      height: 34px;
      position: relative;
    }
    .btn-active {
      font-size: 24px;
      font-weight: 700;
    }

    .bottom-icon{
      font-size: 10px;
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
}
