@import '../../../../assets/css/theme.scss';
@import '../../../../assets/css/common.scss';

$designer: 'https://luwu.oss-cn-beijing.aliyuncs.com/luwu-mp/image/bidding/designer.png';
$captain: 'https://luwu.oss-cn-beijing.aliyuncs.com/luwu-mp/image/bidding/captain.png';
$site: 'https://luwu.oss-cn-beijing.aliyuncs.com/luwu-mp/image/bidding/site.png';

.item-wrapper {
  border-radius: 8px;
  margin-bottom: 30px;
  background-color: #ffffff;

  .title-wrapper {
    width: 100%;
    height: 86px;
    box-sizing: border-box;
    padding: 30px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $background-color;

    .company-name {
      color: $font-color;
      font-size: 28px;
    }

    .right-tips-wrapper {
      color: #999999;
      font-size: 24px;
      display: flex;
      align-items: center;

      >.time {
        margin-left: 14px;
      }
    }
  }

  .item-main {
    padding: 18px 42px 0 32px;

    .form-title-wrapper {
      width: 100%;
      height: 38px;
      display: flex;
      color: $font-color;
      align-items: center;
      margin-bottom: 30px;
      box-sizing: border-box;

      .form-title-left {
        display: flex;
        align-items: center;

        .form-title-line {
          width: 6px;
          height: 28px;
          margin-right: 18px;
          background: #FBC224;
        }

        .form-title {
          font-size: 26px;
          font-weight: 700;
        }
      }

      .form-title-content {
        font-size: 26px;
        color: $tips-color;
        padding-left: 20px;
      }
    }

    .form-company {
      width: 100%;
      display: flex;
      align-items: center;
      padding-bottom: 30px;
      justify-content: space-between;

      &-item {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .image {
          margin: 0 auto;
          margin-bottom: 10px;
        }
        .designer{
          width: 48px;
          height: 56px;
          @include backgroundImage($designer)
        }

        .captain{
          width: 48px;
          height: 52px;
          @include backgroundImage($captain)
        }

        .site{
          width: 54px;
          height: 50px;
          @include backgroundImage($site)
        }
        .form-label {
          font-size: 26px;
          line-height: 38px;
          color: $font-color;
        }

        .form-content {
          font-size: 20px;
          line-height: 28px;
          color: $tips-color;
        }
      }
    }
  }

  .choose-btn {
    width: 100%;
    height: 122px;
    display: flex;
    font-size: 30px;
    padding: 0 20px;
    font-weight: 700;
    color: $link-color;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    border-top: 2px solid $background-color;

    .btn-public {
      width: 43vw;
      height: 70px;
      display: flex;
      border-radius: 6px;
      align-items: center;
      box-sizing: border-box;
      justify-content: center;
      border:2px solid rgba(34, 124, 249, 1);
    }

    .add-icon {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 6px;
      color: $link-color;
    }

    .other-btn{
      width: 100%;
      height: 70px;
      color: #ffffff;
      display: flex;
      border-radius: 6px;
      align-items: center;
      box-sizing: border-box;
      justify-content: center;
      background-color: $link-color;
    }
  }

  .text-active {
    flex: 1;
    display: flex;
    font-size: 30px;
    font-weight: 700;
    color: $tips-color;
    align-items: center;
    justify-content: center;
  }
}
