@import '../../../../assets/css/theme.scss';

.item-wrapper {
  background-color: #ffffff;
  margin-bottom: 30px;

  .title-wrapper {
    width: 100%;
    height: 86px;
    box-sizing: border-box;
    padding: 30px 36px 14px 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $background-color;

    .company-name {
      color: $font-color;
      font-size: 28px;
    }

    .right-tips-wrapper {
      color: #999999;
      font-size: 24px;
      display: flex;
      align-items: center;

      >.time {
        margin-left: 14px;
      }
    }
  }

  .item-main {
    padding: 18px 42px 0 32px;

    .total-price {
      font-size: 26px;
      line-height: 38px;
      color: $link-color;
      font-weight: 700;
      margin-bottom: 16px;
    }

    .form-line {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      .form-item {
        flex: 1;
        display: flex;
        align-items: stretch;
        line-height: 34px;
        font-size: 24px;

        .form-label {
          margin-right: 26px;
          color: $font-color;
        }

        .form-content {
          color: $tips-color;
          flex: 1;
        }
      }

      &-small-margin {
        margin-bottom: 16px;
      }
    }

    .upload-wrapper {
      margin-top: 30px;
      padding-top: 30px;
    }
  }

  .choose-btn {
    width: 100%;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-top: 2px solid $background-color;
    color: $link-color;
    .btn-public{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .add-icon {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 6px;
      color: $link-color;
    }
  }

  .text-active {
    color: $font-color;
    font-weight: 700;
  }
}
