@import '../../../../assets/css/theme.scss';

.note-item {
  width: 100%;
  border-top: 24px solid $background-color;
  background-color: #ffffff;
  
  .tips {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    color: $link-color;
  }

  .text-line {
    width: 2px;
    height: 16px;
    background-color: $link-color;
    margin: 0 12px;
  }

  .note-main {
    border-top: 2px solid $background-color;
    height: 374px;
    box-sizing: border-box;
    padding: 0 30px;

    .upload{
      margin-top: 20px;
    }
  }
}