@import '../../assets/css/theme.scss';

page {
  background-color: $background-color;
}

.page-wrapper {

  .details-main-wrapper {
    padding: 0 30px;
    border-top: 2px solid $background-color;
    background-color: #ffffff;

    

    .form-wrapper {
      padding-bottom: 30px;
    }

    .image-list-wrapper {
      padding-top: 44px;
      padding-bottom: 30px;
    }
  }
  .details-swiper-wrapper {
    margin-top: 20px;
    margin-bottom: 14px;
  }

  // 指示点样式写在子组件不会生效
  .swiper .wx-swiper-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $placeholder-color;
    overflow: hidden;
  }

  .swiper .wx-swiper-dot-active {
    width: 8px !important;
    height: 8px;
    border-radius: 50%;
    overflow: hidden;
  }
}

.bottom-padding160 {
  padding-bottom: 160px;
}
