@import '../../../../assets/css/theme.scss';

.fixed-bottom-btn-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100vw;
  height: 140px;
  box-sizing: border-box;
  padding: 0 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  z-index: 3;

  .btn-public {
    width: 280px;
    height: 80px;
    border-radius: 6px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .share-btn {
    background-color: $link-color;
    color: #ffffff;
  }

  .plain-btn {
    border: 1px solid $link-color;
    background: #ffffff;
    color: $link-color;
  }
}