@import '../../assets/css/theme.scss';

page {
  background-color: $background-color;
}

.page-wrapper {
  width: 100%;

  .user-msg-wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    height: 180px;
    display: flex;
    align-items: center;
    background-color: #ffffff;

    .user-head {
      width: 112px;
      height: 112px;
      box-sizing: border-box;
      border-radius: 50%;
      overflow: hidden;
    }

    .msg-text-wrapper {
      display: flex;
      align-items: center;
      margin-left: 34px;

      .not-login {
        font-size: 32px;
        color: $font-color;
      }

      .login-msg {
        &-wrapper {
          display: flex;
          align-items: center;
          margin-bottom: 14px;
        }

        &-name {
          font-size: 32px;
          line-height: 45px;
        }

        &-vip-wrapper {
          padding-top: 8px;
          margin-left: 30px;
          font-size: 24px;
          color: #EFBF51;
          display: flex;
          align-items: center;

          .vip-icon {
            font-size: 28px;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 6px;
          }
        }

        &-phone-wrapper {
          font-size: 28px;
          color: $tips-color;
          line-height: 40px;

          .phone-tips {
            font-size: 24px;
          }
        }
      }
    }
  }

  .form-wrapper {
    margin: 0 32px;
    background-color: #ffffff;
    margin-top: 30px;
    border-radius: 8px;

    .form-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 20px;
      border-bottom: 2px solid $line-color;
    }

    .form-item:last-child {
      border: none;
    }

    .form-label {
      display: flex;
      align-items: center;
      flex: 1;
      color: $font-color;
      font-size: 28px;
    }

    .form-content {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .form-right-icon {
        font-size: 24px;
        color: $placeholder-color;
      }

      .form-tips {
        font-size: 28px;
        color: $placeholder-color;
        margin-right: 26px;
      }
    }
  }

  .history-wrapper {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 24px;
    background-color: #ffffff;
    margin-top: 30px;

    .history-item-public {
      width: 330px;
      height: 176px;
      box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.04);
      border-radius: 8px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .history-icon {
        width: 72px;
        height: 72px;
        font-size: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
      }

      .color1 {
        color: #FFD5A3;
      }

      .color2 {
        color: #B8EEFF;
      }

      .history-title {
        font-size: 30px;
        color: $font-color;
        line-height: 42px;
        font-weight: 700;
        margin-bottom: 24px;
      }

      .history-tips {
        font-size: 24px;
        color: #999999;
      }
    }
  }

}

.right-icon {
  font-size: 32px;
  color: $placeholder-color;
}

.rotated {
  transform: rotate(180deg);
}

.icon-public-style {
  color: $font-color;
  margin-right: 18px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
