@import '../../assets/css/theme.scss';
$max-color: #D81E06;
$min-color: #39AA47;

$tips-title-color: #999999;
$price-background-color: #FFFEF9;
$area-background-color: #FAFBFF;
$warning-background-color: #FFF2CB;
$option-color: #4D4D4D;
$table-border: #E5E5E5;
$table-background-color: #FCFCFC;

// 表格
.table-wrapper {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  position: relative;
  border-top: 2px solid $table-border;
  // border-bottom: 2px solid $table-border;

  // 表格左边
  .table-left {
    width: 172px;
    font-size: 28px;
    color: $font-color;
    box-sizing: border-box;
  }

  // 90高度的样式
  .left-table-item-90 {
    width: 168px;
    height: 90px;
    display: inline-block;
    text-align: center;
    line-height: 90px;
  }

  // 公司标题居中
  .company-title {
    line-height: 40px;
  }

  .company-handle {
    font-size: 24px;
    color: $link-color;
    margin-top: 2px;
    line-height: 32px;
  }

  // 表格右边
  .table-right {
    flex: 1;
    overflow: auto;
    box-sizing: border-box;
    
    .company-list-wrapper {
      white-space: nowrap;

      .right-col-span {
        width: 198px;
        display: inline-block;
        // border-bottom: 2px solid $table-border;
        overflow: hidden;
      }
    }
  }

}

.item-child-92 {
  height: 92px;
}

.font26 {
  font-size: 26px;
}

.width196 {
  width: 196px !important;
}

.border-top {
  box-sizing: border-box;
  border-top: 2px solid $table-border;
}

.border-right {
  box-sizing: border-box;
  border-right: 2px solid $table-border;
}

.border-bottom {
  box-sizing: border-box;
  border-bottom: 2px solid $table-border;
}

.border-left {
  box-sizing: border-box;
  border-left: 2px solid $table-border;
}

.padding-top10 {
  padding-top: 10px;
}

.head-background {
  background-color: $table-background-color;
}

.area-background {
  background-color: $area-background-color;
}

.price-background {
  background-color: $price-background-color;
}
