@import '../../assets/css/theme.scss';

page {
  background-color: $background-color;
}

.page-wrapper {
  padding: 30px 20px;
  padding-bottom: 140px;

  .modal-select-wrapper {
    left: 0;
    right: 0;
    z-index: 3;
    bottom: 140px;
    margin: 0 auto;
    position: fixed;
    height: calc(100vh - 140px);

    .modal-bg {
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      z-index: inherit;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .select-list {
      &-wrapper {
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 4;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        position: absolute;
        border-radius: 16px 16px 0px 0px;
      }

      &-item {
        width: 100%;
        height: 88px;
        display: flex;
        font-size: 28px;
        padding-left: 40px;
        padding-right: 32px;
        align-items: center;
        box-sizing: border-box;
        background-color: #ffffff;
        justify-content: space-between;

        .shop-name {
          color: $font-color;
        }

        .shop-delete {
          width: 38px;
          height: 38px;
          display: flex;
          font-size: 32px;
          color: #D8D8D8;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
