@import '../../assets/css/theme.scss';

page {
  background-color: $background-color;
}

.page-wrapper {
  padding-bottom: 140px;

  .modal-select-wrapper {
    position: fixed;
    bottom: 140px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: calc(100vh - 140px);
    z-index: 3;

    .modal-bg {
      height: 100%;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: inherit;
      background-color: rgba(66, 66, 66, 0.17);
    }

    .select-list {
      &-wrapper{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 4;
      }
      &-item{
        width: 100%;
        height: 88px;
        border-bottom: 2px solid $background-color;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding-left: 48px;
        padding-right: 42px;
        font-size: 26px;
        .shop-name{
          color: $tips-color;
        }
        .shop-delete{
          color: #FE4646;
        }
      }
    }
  }

  .bottom-select-wrapper {
    width: 100%;
    height: 140px;
    border-top: 2px solid $background-color;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 30px 46px 30px 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;

    .select-num-wrapper {
      display: flex;
      align-items: center;

      .heigh-light {
        color: $link-color;
        margin: 0 10px;
      }
    }

    .select-btn {
      width: 460px;
      height: 80px;
      border: 2px solid $link-color;
      border-radius: 6px;
      font-size: 30px;
      color: $link-color;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

}
