@import '../../assets/css/theme.scss';
@import '../../assets/css/common.scss';

page {
  background-color: $background-color;
}

.page-wrapper {
  .form-wrapper {
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 0 30px;
    margin-bottom: 30px;
  }

  .audio-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      margin-left: 44px;
      display: flex;
      align-items: center;

      .circular {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 2px solid #979797;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        &-active {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background-color: #979797;
        }
      }

      .option-title {
        font-size: 28px;
        color: $tips-color;
      }
    }
  }

  .bottom-tips {
    line-height: 34px;
    color: $placeholder-color;
    font-size: 24px;
    position: fixed;
    bottom: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }

  .fixed-bottom-btm {
    width: 100vw;
    height: 184px;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    @include button-style;

    .submit-btn {
      width: 686px;
      height: 90px;
    }
  }
}

.placeholder-class {
  font-size: 28px;
  color: $placeholder-color;
}
