@import '../../assets/css/theme.scss';
@import '../../assets/css/common.scss';

.fixed-bottom-btn-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100vw;
  height: 140px;
  box-sizing: border-box;
  padding: 0 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  z-index: 3;
  border-top: 2px solid $background-color;

  @include button-style;

  @include clear-button-default;
}
.just-center{
  justify-content: center;
}