@import '../../assets/css/theme.scss';
@import '../../assets/css/common.scss';

page {
  background-color: $background-color;
}

.page-wrapper {
  padding-bottom: 140px;
  position: relative;

  .upload-wrapper {
    width: 100%;
    background-color: #ffffff;
    padding-top: 22px;
    box-sizing: border-box;
    .upload-title { 
      font-size: 28px;
      line-height: 40px;
      color: $font-color;
      padding-left: 34px;
      padding-bottom: 12px;
    }
    .upload-view {
      width: 96px;
      height: 96px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 42px;
      color: #D8D8D8;
      border: 2px solid #EBEBEB;
      margin: 0 auto;
    }

    .upload-tips {
      margin-top: 12px;
      font-size: 22px;
      line-height: 30px;
      text-align: center;
      color: $placeholder-color;
      padding-bottom: 30px;
    }

    .upload-over-wrapper {
      border-top: 2px solid $background-color;
      padding-top: 16px;
      .upload-over-list {
        width: 100%;
        padding-bottom: 30px;
        padding-left: 30px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .file-item-wrapper{
          width: 102px;
          height: 90px;
          margin-top: 20px;
          .file-item {
            width: 70px;
            height: 90px;
            border-radius: 4px;
            font-size: 22px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            color: $tips-color;
            .file-icon{
              width: 48px;
              height: 48px;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }

  .title {
    width: 100%;
    height: 78px;
    color: #999999;
    font-size: 22px;
    line-height: 36px;
    padding: 30px 30px 10px;
    box-sizing: border-box;
    background-color: $background-color;
  }
  .form-wrapper{
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    background-color: #ffffff;
  }
  .bottom-tips {
    line-height: 34px;
    color: #999999;
    font-size: 24px;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 40px;
  }

  .fixed-bottom-btm {
    width: 100vw;
    height: 140px;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #ffffff;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;

    .default-btn {
      width: 686px;
      height: 90px;
      box-sizing: border-box;
      border-radius: 4px;
      background-color: $link-color;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 36px;
    }
  }
}
