@import '../../assets/css/theme.scss';
@import '../../assets/css/common.scss';

page {
  background-color: $background-color;
}

.page-wrapper {
  position: relative;
  padding: 30px 20px;
  padding-bottom: 200px;

  .upload-wrapper {
    width: 100%;
    padding-top: 22px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #ffffff;

    .upload-title {
      font-size: 28px;
      line-height: 40px;
      color: $font-color;
      padding-left: 34px;
      padding-bottom: 12px;
    }

    .upload-view {
      width: 96px;
      height: 96px;
      display: flex;
      margin: 0 auto;
      font-size: 42px;
      color: #D8D8D8;
      align-items: center;
      justify-content: center;
      border: 2px solid #EBEBEB;
    }

    .upload-tips {
      font-size: 22px;
      margin-top: 12px;
      line-height: 30px;
      text-align: center;
      padding-bottom: 30px;
      color: $placeholder-color;
    }

    .upload-over-wrapper {
      padding-top: 16px;
      border-top: 2px solid $background-color;

      .upload-over-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-left: 30px;
        align-items: center;
        padding-bottom: 30px;

        .file-item-wrapper {
          width: 102px;
          height: 90px;
          margin-top: 20px;

          .file-item {
            width: 70px;
            height: 90px;
            display: flex;
            font-size: 22px;
            color: $tips-color;
            border-radius: 4px;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;

            .file-icon {
              width: 48px;
              height: 48px;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }

  .title {
    width: 100%;
    height: 78px;
    color: #999999;
    font-size: 22px;
    line-height: 36px;
    padding: 30px 30px 10px;
    box-sizing: border-box;
    background-color: $background-color;
  }

  .form-wrapper {
    width: 100%;
    padding: 0 30px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #ffffff;
  }

  .bottom-tips {
    font-size: 24px;
    color: #999999;
    line-height: 34px;
    padding-top: 20px;
    padding-left: 34px;
  }

  .fixed-bottom-btn {
    width: 100vw;
    height: 140px;
    left: 0;
    right: 0;
    z-index: 5;
    bottom: 0px;
    display: flex;
    margin: 0 auto;
    position: fixed;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: $background-color;

    .default-btn {
      width: 686px;
      height: 90px;
      display: flex;
      font-size: 36px;
      color: #ffffff;
      border-radius: 4px;
      align-items: center;
      box-sizing: border-box;
      justify-content: center;
      background-color: $link-color;
    }
  }
}

.get-phone-wrapper {
  width: 100%;
  height: 40px;
  display: flex;
  font-size: 28px;
  text-align: right;
  color: $tips-color;
  position: relative;
  flex-direction: column;
  @include clear-button-default;

  .get-phone-btn {
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
  }
}

.placeholder-class {
  color: $placeholder-color;
}
